nav {
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 15px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    margin: 0 15px;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 300; /* Fonte fina */
    font-size: 16px;
  }

  nav ul li a:hover {
    color: #0071e3;
  }
  

  .logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
    vertical-align: middle;
  }